
  <div class="new-div">
    <h1 class="new-h1">ようこそ <strong class="new-strong">Bookers</strong>  へ！</h1>
<p class="new-p"><strong class="new-strong">Bookers</strong>  では、さまざまな書籍に関するあなたの意見や</p>
<p class="new-p">印象を共有し交換することができます</p>

<span class="new-span">
<%= link_to "start", books_path %>
</span>

</div>